body {
    margin: 0px;
    background-color: #2B65EC;
}

.weather-container-top {
    color: white;
    width: 100%;
    height: 600px;
    border-bottom: none;
    background-color: #2B65EC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}

.weather-icon {
    width: 30%;
    height: 250px;
    border: solid;
    margin-top: 0px;
}

.weather-description {
    width: 30%;
    height: 250px;
    border: solid;
    margin-top: 0px;
}

.weather-container-top h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cities-container {
    border-top: solid 5px yellow;
    width: 100%;
    height: 800px;
    border-radius: 50px 50px 0 0;
    margin-bottom: 10px;
    background-color: #ECEFF1;
}

.city {
    border: solid white;
    width: 250px;
    height: 150px;
    display: inline-block;
    margin-left: 90px;
    margin-top: 90px;
    border-radius: 30px;
    background-color: #2B65EC;
}

.top {
    width: 250px;
    height: 100%;
    margin-bottom: 20px;
}

.city h3 {
    color: white;
    text-align: center;
    font-size: 25px;
}

.city button {
    padding: 10px;
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 29%;
    border-radius: 10px;
    border: none;
    background-color: white;
}

/* Media Queries for devices under 800 pixels */
@media (max-width: 800px) {
   

    .weather-icon {
        width: 200px;
        height: 100px;
    }

    .weather-description {
        width: 200px;
        height: 100px;
    }

    .cities-container {
        height: 100%;
    }
}
